ML_Server_flow.json
[
    {
        "id": "0a17a433935a9c3d",
        "type": "tab",
        "label": "ML-Service-Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96744b1272417aa4",
        "type": "mqtt in",
        "z": "0a17a433935a9c3d",
        "name": "(Attribute)ML-Service-Server",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e26b68406478f1ba",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "baa53c7a1f50a84e",
                "37b577d555d88e55"
            ]
        ]
    },
    {
        "id": "baa53c7a1f50a84e",
        "type": "debug",
        "z": "0a17a433935a9c3d",
        "name": "debug 361",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "630a0e2150c0d2da",
        "type": "debug",
        "z": "0a17a433935a9c3d",
        "name": "debug 362",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "37b577d555d88e55",
        "type": "function",
        "z": "0a17a433935a9c3d",
        "name": "dataIntravelLimit",
        "func": "let out ={}\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "f6231f672410cabe"
            ]
        ]
    },
    {
        "id": "f6231f672410cabe",
        "type": "trigger",
        "z": "0a17a433935a9c3d",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "370fa454e896b856"
            ]
        ]
    },
    {
        "id": "370fa454e896b856",
        "type": "function",
        "z": "0a17a433935a9c3d",
        "name": "ServerMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInRange(min, max) {\n    return +(Math.random() * (max - min) + min).toFixed(2);\n}\n\n// Build telemetry for this device\nlet out = {\n    cpu_usage: randomInRange(1, 10),          \n    memory_usage: randomInRange(1024, 6000),  \n    disk_usage: randomInRange(0, 40),         \n    network_speed: randomInRange(100, 10000)  \n};\nout.cpu_usage = out.cpu_usage + \"% of 2 CPUs\"\nout.memory_usage = out.memory_usage + \"MiB\"\nout.disk_usage = out.disk_usage + \"%\"\n\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return updated message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "630a0e2150c0d2da",
                "533c66c12c763a2f"
            ]
        ]
    },
    {
        "id": "f52b81b0b66087fc",
        "type": "inject",
        "z": "0a17a433935a9c3d",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "37b577d555d88e55"
            ]
        ]
    },
    {
        "id": "533c66c12c763a2f",
        "type": "mqtt out",
        "z": "0a17a433935a9c3d",
        "name": "(Telemetry)ML-Service-Server",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e26b68406478f1ba",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "e26b68406478f1ba",
        "type": "mqtt-broker",
        "name": "ML-Service-Server",
        "broker": "mqtt-tb-sit.piltismart.orgm",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]