N8N_Server_flow.json
[
    {
        "id": "89853de4f126c5f1",
        "type": "tab",
        "label": "N8n-Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ca0a5fc9ca3b2e2",
        "type": "mqtt in",
        "z": "89853de4f126c5f1",
        "name": "(Attribute)N8n-Server",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "987137c0a50d946e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "4abc9178cf6250c6",
                "7d1221b14cfa2492"
            ]
        ]
    },
    {
        "id": "4abc9178cf6250c6",
        "type": "debug",
        "z": "89853de4f126c5f1",
        "name": "debug 363",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "5440425415608a86",
        "type": "debug",
        "z": "89853de4f126c5f1",
        "name": "debug 364",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "7d1221b14cfa2492",
        "type": "function",
        "z": "89853de4f126c5f1",
        "name": "dataIntravelLimit",
        "func": "let out ={}\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 160,
        "wires": [
            [
                "b4950fab7fd60d7f"
            ]
        ]
    },
    {
        "id": "b4950fab7fd60d7f",
        "type": "trigger",
        "z": "89853de4f126c5f1",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "c8a0a239f41ca05c"
            ]
        ]
    },
    {
        "id": "c8a0a239f41ca05c",
        "type": "function",
        "z": "89853de4f126c5f1",
        "name": "ServerMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInRange(min, max) {\n    return +(Math.random() * (max - min) + min).toFixed(2);\n}\n\n// Build telemetry for this device\nlet out = {\n    cpu_usage: randomInRange(1, 10),          \n    memory_usage: randomInRange(1024, 6000),  \n    disk_usage: randomInRange(0, 40),         \n    network_speed: randomInRange(100, 10000)  \n};\nout.cpu_usage = out.cpu_usage + \"% of 2 CPUs\"\nout.memory_usage = out.memory_usage + \"MiB\"\nout.disk_usage = out.disk_usage + \"%\"\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return updated message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "5440425415608a86",
                "ecfd9b2fddecfade"
            ]
        ]
    },
    {
        "id": "0a55258c27eb90f6",
        "type": "inject",
        "z": "89853de4f126c5f1",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "7d1221b14cfa2492"
            ]
        ]
    },
    {
        "id": "ecfd9b2fddecfade",
        "type": "mqtt out",
        "z": "89853de4f126c5f1",
        "name": "(Telemetry)ML-Service-Server",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "987137c0a50d946e",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "987137c0a50d946e",
        "type": "mqtt-broker",
        "name": "N8n-Server",
        "broker": "mqtt-tb-sit.piltismart.orgm",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]