Web_Scraper_flow.json
[
    {
        "id": "1f62063bee3831ee",
        "type": "tab",
        "label": "Web-Scraper-Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc2d6fed04e15d71",
        "type": "mqtt in",
        "z": "1f62063bee3831ee",
        "name": "(Attribute)Web-Scraper-Server",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "53c3bd3385f2293d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "1a1a3f89106fa6b3",
                "86a08b7a59e688f2"
            ]
        ]
    },
    {
        "id": "1a1a3f89106fa6b3",
        "type": "debug",
        "z": "1f62063bee3831ee",
        "name": "debug 365",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "dd1fe280999f86d9",
        "type": "debug",
        "z": "1f62063bee3831ee",
        "name": "debug 366",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 440,
        "wires": []
    },
    {
        "id": "86a08b7a59e688f2",
        "type": "function",
        "z": "1f62063bee3831ee",
        "name": "dataIntravelLimit",
        "func": "let out ={}\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "976c743165fe730f"
            ]
        ]
    },
    {
        "id": "976c743165fe730f",
        "type": "trigger",
        "z": "1f62063bee3831ee",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 440,
        "y": 220,
        "wires": [
            [
                "bd0463c1014963b3"
            ]
        ]
    },
    {
        "id": "bd0463c1014963b3",
        "type": "function",
        "z": "1f62063bee3831ee",
        "name": "ServerMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInRange(min, max) {\n    return +(Math.random() * (max - min) + min).toFixed(2);\n}\n\n// Build telemetry for this device\nlet out = {\n    cpu_usage: randomInRange(1, 10),          \n    memory_usage: randomInRange(1024, 6000),  \n    disk_usage: randomInRange(0, 40),         \n    network_speed: randomInRange(100, 10000)  \n\n};\nout.cpu_usage = out.cpu_usage + \"% of 2 CPUs\"\nout.memory_usage = out.memory_usage + \"MiB\"\nout.disk_usage = out.disk_usage + \"%\"\n\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return updated message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 340,
        "wires": [
            [
                "dd1fe280999f86d9",
                "c4569025d4128161"
            ]
        ]
    },
    {
        "id": "771e1f34513282d6",
        "type": "inject",
        "z": "1f62063bee3831ee",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "86a08b7a59e688f2"
            ]
        ]
    },
    {
        "id": "c4569025d4128161",
        "type": "mqtt out",
        "z": "1f62063bee3831ee",
        "name": "(Telemetry)ML-Service-Server",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "53c3bd3385f2293d",
        "x": 750,
        "y": 200,
        "wires": []
    },
    {
        "id": "53c3bd3385f2293d",
        "type": "mqtt-broker",
        "name": "Web-Scraper-Server",
        "broker": "mqtt-tb-sit.piltismart.orgm",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]