flows/smart_hospitals/PiltiSmart-HB-Probe.json
[
    {
        "id": "56acc5a1376f5cb0",
        "type": "tab",
        "label": "PiltiSmart-HB-Probe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a462a2d23345e6e",
        "type": "mqtt in",
        "z": "56acc5a1376f5cb0",
        "name": "(Attribute)Heart-Beat-Server",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "455b4a859f714887",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "525687d93e5c68b0",
                "2c81ec71a63ca83c"
            ]
        ]
    },
    {
        "id": "525687d93e5c68b0",
        "type": "debug",
        "z": "56acc5a1376f5cb0",
        "name": "debug 361",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 440,
        "wires": []
    },
    {
        "id": "9b8df32d2f46fe1d",
        "type": "debug",
        "z": "56acc5a1376f5cb0",
        "name": "debug 362",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "2c81ec71a63ca83c",
        "type": "function",
        "z": "56acc5a1376f5cb0",
        "name": "dataIntravelLimit",
        "func": "let out ={}\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "add0dd999e2b4bb0"
            ]
        ]
    },
    {
        "id": "add0dd999e2b4bb0",
        "type": "trigger",
        "z": "56acc5a1376f5cb0",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "eb29c60c374cda9e",
                "47aa59f4fa85eade"
            ]
        ]
    },
    {
        "id": "eb29c60c374cda9e",
        "type": "function",
        "z": "56acc5a1376f5cb0",
        "name": "HeartBeatMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Build telemetry for this device\nlet out = {\n    bpm_numeric: randomInt(60, 100),\n    blood_pressure_systolic_numeric: randomInt(110, 130),\n    blood_pressure_diastolic_numeric: randomInt(70, 85),\n    oxygen_saturation_percent_numeric: randomInt(95, 100)\n};\n\nout.bpm = out.bpm_numeric + \" bpm\";\nout.blood_pressure_systolic = out.blood_pressure_systolic_numeric + \" mmHg\";\nout.blood_pressure_diastolic = out.blood_pressure_diastolic_numeric + \" mmHg\";\nout.oxygen_saturation_percent = out.oxygen_saturation_percent_numeric + \"%\";\n\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return updated message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "9b8df32d2f46fe1d",
                "5a97535a7216a260"
            ]
        ]
    },
    {
        "id": "88904a38cba61777",
        "type": "inject",
        "z": "56acc5a1376f5cb0",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "2c81ec71a63ca83c"
            ]
        ]
    },
    {
        "id": "5a97535a7216a260",
        "type": "mqtt out",
        "z": "56acc5a1376f5cb0",
        "name": "(Telemetry)Heart-Beat-Server",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "455b4a859f714887",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "47aa59f4fa85eade",
        "type": "function",
        "z": "56acc5a1376f5cb0",
        "name": "BatteryMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Get or initialize battery state \nlet batteryLevel = flow.get('batteryLevel') || randomInt(50, 100); \nlet isCharging = flow.get('isCharging') || false;\n\n// Simulate battery cycle\nif (isCharging) {\n    batteryLevel += randomInt(1, 3);\n    if (batteryLevel >= 100) {\n        batteryLevel = 100;\n        isCharging = false;\n    }\n} else {\n    batteryLevel -= randomInt(1, 2);\n    if (batteryLevel <= 15) {\n        isCharging = true;\n    }\n}\n\n// Determine battery status\nlet batteryStatus = \"Normal\";\nif (batteryLevel <= 20) {\n    batteryStatus = \"Low\";\n} else if (batteryLevel >= 95 && isCharging) {\n    batteryStatus = \"Full\";\n}\n\n// Save state for next run\nflow.set('batteryLevel', batteryLevel);\nflow.set('isCharging', isCharging);\n\n// Build attribute payload\nmsg.payload = {\n    batteryLevel: batteryLevel,\n    batteryStatus: batteryStatus,\n    batteryChargingStatus: isCharging ? \"Charging\" : \"Not Charging\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "741276a811487034"
            ]
        ]
    },
    {
        "id": "741276a811487034",
        "type": "mqtt out",
        "z": "56acc5a1376f5cb0",
        "name": "(Attributes)Heart-Beat-Server",
        "topic": "v1/devices/me/attributes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "455b4a859f714887",
        "x": 820,
        "y": 420,
        "wires": []
    },
    {
        "id": "455b4a859f714887",
        "type": "mqtt-broker",
        "name": "Heart-Beat-Monitor",
        "broker": "mqtt-tb-sit.piltismart.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]