flows/smart_home/PiltiSmart-AQI-Probe.json
[
    {
        "id": "aqi_tab_01",
        "type": "tab",
        "label": "PiltiSmart-AQI-Probe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aqi_comment_01",
        "type": "comment",
        "z": "aqi_tab_01",
        "name": "Flow Description & Expansion",
        "info": "### PiltiSmart AQI (Air Quality Index) Probe\n\n**Industry Status**: Environmental Health and Safety (EHS) Compliance.\n\n**Description**: \nProvides high-fidelity monitoring of critical atmospheric pollutants and overall air safety indices using real-time OpenWeatherMap data.\n\n**Telemetry Metrics**:\n- `aqi`: Air Quality Index (1-5 scale)\n- `pm2_5` & `pm10`: Particulate matter content.\n- `so2`, `no2`, `co`, `o3`: Gaseous pollutant levels.\n\n**Lifecycle Overview**:\n1. **Remote Config**: Listens for `dataIntravel` attribute updates via MQTT.\n2. **Rate Limiting**: Enforces a minimum 10s interval to prevent API abuse.\n3. **Metric Acquisition**: Fetches real-time pollutants from OpenWeatherMap API and retrieves public IP via IPify.\n4. **Telemetry/Attribute Sync**: Publishes environmental data and device status (battery, IP) to ThingsBoard.",
        "x": 160,
        "y": 20,
        "wires": []
    },
    {
        "id": "aqi_mqtt_in_01",
        "type": "mqtt in",
        "z": "aqi_tab_01",
        "name": "(Attributes)PiltiSmart-AQI-Probe",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "aqi_broker_01",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "aqi_limit_01"
            ]
        ]
    },
    {
        "id": "aqi_limit_01",
        "type": "function",
        "z": "aqi_tab_01",
        "name": "dataIntravelLimit",
        "func": "let out ={}\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 120,
        "wires": [
            [
                "aqi_controller_01"
            ]
        ]
    },
    {
        "id": "aqi_controller_01",
        "type": "trigger",
        "z": "aqi_tab_01",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "aqi_battery_01",
                "aqi_get_ip_01",
                "aqi_get_data_01"
            ]
        ]
    },
    {
        "id": "aqi_restart_01",
        "type": "inject",
        "z": "aqi_tab_01",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "aqi_limit_01"
            ]
        ]
    },
    {
        "id": "aqi_get_data_01",
        "type": "http request",
        "z": "aqi_tab_01",
        "name": "Get AQI Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/air_pollution?lat=9.939093&lon=78.121719&appid=a2f587cab8f72610e9e3bc4f3bbaa905&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "aqi_func_01"
            ]
        ]
    },
    {
        "id": "aqi_func_01",
        "type": "function",
        "z": "aqi_tab_01",
        "name": "AQI",
        "func": "// Extract the payload from the message\nlet payload = msg.payload;\n\n// Create an object to store the extracted values\nlet out = {};\n\n// Check if 'list' and 'main' fields exist in the payload\nif (payload.list && payload.list[0]) {\n    let airData = payload.list[0];  // Access the first element in the list\n\n    // Extract AQI from the 'main' section\n    out.aqi = airData.main.aqi;\n\n    // Extract all components from the 'components' section\n    if (airData.components) {\n        out.co = airData.components.co;\n        out.no = airData.components.no;\n        out.no2 = airData.components.no2;\n        out.o3 = airData.components.o3;\n        out.so2 = airData.components.so2;\n        out.pm2_5 = airData.components.pm2_5;\n        out.pm10 = airData.components.pm10;\n        out.nh3 = airData.components.nh3;\n    }\n}\n\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return the updated message object\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "aqi_telemetry_out_01"
            ]
        ]
    },
    {
        "id": "aqi_telemetry_out_01",
        "type": "mqtt out",
        "z": "aqi_tab_01",
        "name": "(Telemetry)PiltiSmart-AQI-Probe",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aqi_broker_01",
        "x": 800,
        "y": 260,
        "wires": []
    },
    {
        "id": "aqi_battery_01",
        "type": "function",
        "z": "aqi_tab_01",
        "name": "Battery Level",
        "func": "// Initialize battery level and state (on first run or retrieved from context)\nlet batteryLevel = context.get('batteryLevel');\nif (batteryLevel === undefined) {\n    batteryLevel = 0;  // Start at 0 on the first run\n}\n\nlet decreasing = context.get('decreasing');\nif (decreasing === undefined) {\n    decreasing = false;  // Default to charging mode if battery is low at the start\n}\n\n// Simulate the battery charging/discharging based on the current level\nif (batteryLevel < 80) {\n    // 80% chance to charge if battery level is below 80%\n    if (Math.random() < 0.8) {\n        decreasing = false;  // Charging mode\n    } else {\n        decreasing = true;  // Discharge mode (20% chance)\n    }\n} else {\n    // Above 80%, prioritize discharging\n    decreasing = true;\n}\n\n// Simulate the battery consumption and charging process\nif (decreasing) {\n    // Decrease battery level by a random value between 0 and 1\n    let randomDecrease = Math.random();  // Random decrease between 0 and 1\n    batteryLevel -= randomDecrease;\n\n    // Ensure battery level doesn't go below 0\n    if (batteryLevel <= 0) {\n        batteryLevel = 0;\n        decreasing = false;  // Switch to charging mode once the battery is depleted\n    }\n} else {\n    // Gradually charge the battery by a random value between 1 and 3 points\n    let chargeIncrease = Math.random() * (3 - 1) + 1;  // Random increase between 1 and 3\n    batteryLevel = Math.min(100, batteryLevel + chargeIncrease);  // Ensure it doesn't go over 100\n\n    // If the battery reaches full capacity, start discharging\n    if (batteryLevel >= 100) {\n        batteryLevel = 100;\n        decreasing = true;  // Start discharging once the battery is full\n    }\n}\n\n// Determine battery status based on the battery level\nlet out = {};\nif (batteryLevel < 20) {\n    out.batteryStatus = \"Low\";\n} else if (batteryLevel >= 20 && batteryLevel <= 99) {\n    out.batteryStatus = \"Normal\";\n} else {\n    out.batteryStatus = \"Full\";\n}\n\n// Simulate charging status (whether charging is occurring or not)\nlet isCharging = !decreasing;  // Charging when not decreasing\n\n// Create an output object to store the battery level, status, and charging state\nout.batteryLevel = batteryLevel.toFixed(2);  // Keep 2 decimal places\nout.batteryChargingStatus = isCharging ? \"Charging\" : \"Not charging\";  // Display \"Charging\" or \"Not charging\"\n\n// Save updated battery level and state to context\ncontext.set('batteryLevel', batteryLevel);\ncontext.set('decreasing', decreasing);\n\n// Output the current battery level, status, and charging state as JSON\nmsg.payload = out;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "aqi_attributes_out_01"
            ]
        ]
    },
    {
        "id": "aqi_get_ip_01",
        "type": "exec",
        "z": "aqi_tab_01",
        "command": "curl -s https://api.ipify.org",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get IP",
        "x": 390,
        "y": 320,
        "wires": [
            [
                "aqi_format_ip_01"
            ],
            [],
            []
        ]
    },
    {
        "id": "aqi_format_ip_01",
        "type": "function",
        "z": "aqi_tab_01",
        "name": "format IP",
        "func": "context.set('myip', msg.payload.trim())\n\nmsg.payload = {\n    ipAddress: msg.payload.trim()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "aqi_attributes_out_01"
            ]
        ]
    },
    {
        "id": "aqi_attributes_out_01",
        "type": "mqtt out",
        "z": "aqi_tab_01",
        "name": "(Attributes)PiltiSmart-AQI-Probe",
        "topic": "v1/devices/me/attributes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "aqi_broker_01",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "aqi_broker_01",
        "type": "mqtt-broker",
        "name": "PiltiSmart-AQI-Probe-Broker",
        "broker": "mqtt-tb-sit.piltismart.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]