flows/smart_home/PiltiSmart-SP-Probe.json
[
    {
        "id": "sp_tab_1",
        "type": "tab",
        "label": "PiltiSmart-SP-Probe",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "sp_mqtt_in_1",
        "type": "mqtt in",
        "z": "sp_tab_1",
        "name": "(Attribute)Smart-Plugs-With-Energy-Monitor",
        "topic": "v1/devices/me/attributes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "sp_broker_1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "sp_debug_1",
                "sp_limit_1"
            ]
        ]
    },
    {
        "id": "sp_debug_1",
        "type": "debug",
        "z": "sp_tab_1",
        "name": "debug Smart-Plugs-With-Energy-Monitor 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 420,
        "wires": []
    },
    {
        "id": "sp_debug_2",
        "type": "debug",
        "z": "sp_tab_1",
        "name": "debug Smart-Plugs-With-Energy-Monitor 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "sp_limit_1",
        "type": "function",
        "z": "sp_tab_1",
        "name": "dataIntravelLimit",
        "func": "let out ={};\nif (msg.payload.dataIntravel < 10) \n{ msg.payload.dataIntravel = 10}\n\nout.delay = (msg.payload.dataIntravel)*1000\n\nreturn out;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "sp_controller_1"
            ]
        ]
    },
    {
        "id": "sp_controller_1",
        "type": "trigger",
        "z": "sp_tab_1",
        "name": "dataIntravelContoller",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-250",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "sp_metrics_1",
                "sp_battery_1"
            ]
        ]
    },
    {
        "id": "sp_metrics_1",
        "type": "function",
        "z": "sp_tab_1",
        "name": "SmartPlugMetrics",
        "func": "// Helper function to generate random number\nfunction randomFloat(min, max) {\n    return (Math.random() * (max - min) + min).toFixed(2);\n}\n\n// Build telemetry for this device\nlet out = {\n    state_numeric: Math.random() > 0.5 ? 1 : 0,\n    voltage_volts_numeric: parseFloat(randomFloat(220, 240)),\n};\n\nout.current_amps_numeric = out.state_numeric === 1 ? parseFloat(randomFloat(1.0, 5.0)) : 0.0;\nout.power_watts_numeric = parseFloat((out.voltage_volts_numeric * out.current_amps_numeric).toFixed(2));\nout.energy_consumed_kwh_numeric = parseFloat(((flow.get('energy_kwh') || 0) + (out.power_watts_numeric / 3600)).toFixed(4));\nflow.set('energy_kwh', out.energy_consumed_kwh_numeric);\n\n// Add formatted string values\nout.state = out.state_numeric === 1 ? \"ON\" : \"OFF\";\nout.current_amps = out.current_amps_numeric + \" A\";\nout.voltage_volts = out.voltage_volts_numeric + \" V\";\nout.power_watts = out.power_watts_numeric + \" W\";\nout.energy_consumed_kwh = out.energy_consumed_kwh_numeric + \" kWh\";\n\n// Set the new output in msg.payload\nmsg.payload = out;\n\n// Return updated message\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "sp_debug_2",
                "sp_telemetry_out_1"
            ]
        ]
    },
    {
        "id": "sp_restart_1",
        "type": "inject",
        "z": "sp_tab_1",
        "name": "Restart Device",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "{\"dataIntravel\":30}",
        "payloadType": "json",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "sp_limit_1"
            ]
        ]
    },
    {
        "id": "sp_telemetry_out_1",
        "type": "mqtt out",
        "z": "sp_tab_1",
        "name": "(Telemetry)Smart-Plugs-With-Energy-Monitor",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "sp_broker_1",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "sp_battery_1",
        "type": "function",
        "z": "sp_tab_1",
        "name": "BatteryMetrics",
        "func": "// Helper function to generate random number in a range\nfunction randomInt(min, max) {\n    return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Get or initialize battery state \nlet batteryLevel = flow.get('batteryLevel') || randomInt(50, 100); \nlet isCharging = flow.get('isCharging') || false;\n\n// Simulate battery cycle\nif (isCharging) {\n    batteryLevel += randomInt(1, 3);\n    if (batteryLevel >= 100) {\n        batteryLevel = 100;\n        isCharging = false;\n    }\n} else {\n    batteryLevel -= randomInt(1, 2);\n    if (batteryLevel <= 15) {\n        isCharging = true;\n    }\n}\n\n// Determine battery status\nlet batteryStatus = \"Normal\";\nif (batteryLevel <= 20) {\n    batteryStatus = \"Low\";\n} else if (batteryLevel >= 95 && isCharging) {\n    batteryStatus = \"Full\";\n}\n\n// Save state for next run\nflow.set('batteryLevel', batteryLevel);\nflow.set('isCharging', isCharging);\n\n// Build attribute payload\nmsg.payload = {\n    batteryLevel: batteryLevel,\n    batteryStatus: batteryStatus,\n    batteryChargingStatus: isCharging ? \"Charging\" : \"Not Charging\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 420,
        "wires": [
            [
                "sp_attributes_out_1"
            ]
        ]
    },
    {
        "id": "sp_attributes_out_1",
        "type": "mqtt out",
        "z": "sp_tab_1",
        "name": "(Attributes)Smart-Plugs-With-Energy-Monitor",
        "topic": "v1/devices/me/attributes",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "sp_broker_1",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "sp_broker_1",
        "type": "mqtt-broker",
        "name": "Smart-Plugs-With-Energy-Monitor-Broker",
        "broker": "mqtt-tb-sit.piltismart.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]